<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039907835103-5p8sdohbd24m3mmi4mrcp0sdu5k9i46i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039907835103-5p8sdohbd24m3mmi4mrcp0sdu5k9i46i</string>
	<key>API_KEY</key>
	<string>AIzaSyBjA_hMgjFyJABZMT_nFgRjtPmm3XCAUOI</string>
	<key>GCM_SENDER_ID</key>
	<string>1039907835103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.LifeCycle-To-Do</string>
	<key>PROJECT_ID</key>
	<string>lifecycle-ios-todolist</string>
	<key>STORAGE_BUCKET</key>
	<string>lifecycle-ios-todolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039907835103:ios:39a1c2dff50dfd2f06ed6a</string>
</dict>
</plist>